{% extends "Base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Booking
{% endblock %}

{% block Content %}
<div class="container">
    <h1 class="text-center">Make An Appointment</h1>
    <hr>

    <!-- Display Selected Doctor's Details -->
    <!-- <div class="text-center my-4">
        <h3>Appointment with Dr. {{ doctor.name }}</h3>
        <p><strong>Specialization:</strong> {{ doctor.specialization }}</p>
        <p><strong>Department:</strong> {{ doctor.department.name }}</p>
    </div> -->

    <!-- Display Success Messages -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

    <!-- Booking Form -->
    <div class="container w-50 text-center my-5">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}